<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <description>Spring 配置</description>
    <!-- enable autowire -->
    <context:annotation-config/>


    <!-- enable component scanning (beware that this does not enable mapper scanning!) -->
    <context:component-scan base-package="com"/>

    <!--<import resource="spring-mybatis.xml" />-->
    <import resource="spring-cache.xml"/>
    <!-- 注入spring上下文-->
    <bean id="myApplicationContextAware" class="com.shenzhou.utils.MyContextAware"/>
</beans>
