.brandstory{background: #F8F8F8;}
.brandcontainer,.brandinfocontainer{position: relative;width: 100%;height: auto;align-self: flex-start;margin: 5% 0;display: flex;flex-flow: row nowrap;justify-content: flex-start;align-items: flex-start;}
.daoyanbox{position: absolute;top: 0;width: 26%;height: auto;background: #FFFFFF;}
.daoyaninfobox{width: 70%;height:auto;margin:13% auto 20% 15%;display: flex;flex-flow: column nowrap;justify-content: center;align-items: center;}
.brandstoryinfobox,.brandinfo{position: relative;top: 0;left: 26%;width: 66%;margin-left: 2.6%;}
.daoyantitile{width: 100%;text-align: left;}
.daoyantitile p{font-size: 4.375rem;color: #004098;line-height: 70px;}
.daoyanbox hr{width: 100%;height: 2px;background: #DCDCDC;border: none;margin-top: 5%;margin-bottom: 5%;}
.daoyaninfo{width: 100%;height: auto;text-align: justify;}
.daoyaninfo p{font-size: 1.875rem;color: #4D4D4D;line-height: 45px;}
.storylistbox,.brandinfobox{position: relative;width: 100%;height: auto;}
.branditem{display: flex;flex-flow: column nowrap;justify-content: flex-start;align-items: center;}
.branditem{width: 100%;height: auto;margin-bottom: 4%;background: #FFFFFF;}
.branditem img{width: 100%;}
.brandtitle,.branddes,.brandmoreinfo{width: 92%;}
.brandtitle{margin-top: 2.5%;}
.brandtitle p{font-size: 3.125rem;color: #004199;line-height:70px;}
.branddes{height: auto;text-align: justify;margin-top: 1%;}
.branddes p{font-size: 1.875rem;color: #606060;line-height: 45px;}
.brandmoreinfo{margin-top: 1.5%;margin-bottom: 4.2%;text-align: right;}
.brandmoreinfo a{font-size: 2.5rem;color: #1853A2!important;line-height: 55px;}
.pagesbox{margin-top: 12%;}

.brandinfocontainer,.brandinfotitle,.brandinfodes,.brandinfodes img{width: 100%;height: auto;}
.brandnextprebox{position: relative;width: 89.6%;height: auto;}
.brandinfobox{margin: 5.25% auto;}
.brandinfotitle{margin-bottom: 1.65%;}
.brandinfotitle p{font-size: 4.375rem;color: #004199;line-height: 1;}
.brandinfodes,.brandpre{margin-bottom: 3.05%;}
.brandinfodes p{font-size: 2.5rem;color: #606060;line-height: 80px;text-align: justify;}
.brandnextprebox{margin-top: 5.8%;margin-bottom: 9.8%;}
.brandpre a,.brandnext a{font-size: 2.5rem;color: #1853A2!important;line-height: 1;}
.brandpre a:hover,.brandnext a:hover{text-decoration: none;}

.sharebox{top: 1%;}
.sharebox a img{width: 18%;}

.storylistitem{width: 100%;height: auto;margin-top: 2%;}
.storylistitem p{font-size: 1.875rem;color: #464646;margin-bottom: 0.5em;}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
	.daoyantitile p,.brandtitle p{line-height: 35.7px;}
	.daoyantitile p,.brandinfotitle p{font-size: 2.23rem;}
	.daoyaninfo p,.branddes p,.storylistitem p{font-size: 0.96rem;line-height: 23px;}
	.brandtitle p{font-size: 1.59rem;}
	.brandmoreinfo a,.brandinfodes p,.brandpre a,.brandnext a{font-size: 1.275rem;}
	.brandmoreinfo a{line-height: 28.05px;}
	.brandinfodes p{line-height: 40.8px;}
}

@media only screen and (min-width: 1200px) {
	.daoyantitile p,.brandtitle p{line-height: 43.75px;}
	.daoyantitile p,.brandinfotitle p{font-size: 2.73rem;}
	.daoyaninfo p,.branddes p,.storylistitem p{font-size: 1.17rem;line-height: 28px;}
	.brandtitle p{font-size: 1.95rem;}
	.brandmoreinfo a,.brandinfodes p,.brandpre a,.brandnext a{font-size: 1.56rem;}
	.brandmoreinfo a{line-height: 34.3px;}
	.brandinfodes p{line-height: 50px;}
}

@media only screen and (min-width: 1400px) {
	.daoyantitile p,.brandtitle p{line-height: 52.5px;}
	.daoyantitile p,.brandinfotitle p{font-size: 3.28rem;}
	.daoyaninfo p,.branddes p,.storylistitem p{font-size: 1.4rem;line-height: 33.75px;}
	.brandtitle p{font-size: 2.34rem;}
	.brandmoreinfo a,.brandinfodes p,.brandpre a,.brandnext a{font-size: 1.875rem;}
	.brandmoreinfo a{line-height: 41.25px;}
	.brandinfodes p{line-height: 60px;}
}

@media only screen and (min-width: 1600px) {
	.daoyantitile p,.brandtitle p{line-height: 61.25px;}
	.daoyantitile p,.brandinfotitle p{font-size: 3.83rem;}
	.daoyaninfo p,.branddes p,.storylistitem p{font-size: 1.64rem;line-height: 39.4px;}
	.brandtitle p{font-size: 2.73rem;}
	.brandmoreinfo a,.brandinfodes p,.brandpre a,.brandnext a{font-size: 2.19rem;}
	.brandmoreinfo a{line-height: 48px;}
	.brandinfodes p{line-height: 70px;}
}

@media only screen and (min-width: 1900px) {
	.daoyantitile p,.brandtitle p{line-height: 70px;}
	.daoyantitile p,.brandinfotitle p{font-size: 4.375rem;}
	.daoyaninfo p,.branddes p,.storylistitem p{font-size: 1.875rem;line-height: 45px;}
	.brandtitle p{font-size: 3.125rem;}
	.brandmoreinfo a,.brandinfodes p,.brandpre a,.brandnext a{font-size: 2.5rem;}
	.brandmoreinfo a{line-height: 55px;}

	.brandinfodes p{line-height: 80px;}
}

@media only screen and (min-width: 2048px) {
	.daoyantitile p,.brandtitle p{line-height: 74.7px;}
	.daoyantitile p,.brandinfotitle p{font-size: 4.7rem;}
	.daoyaninfo p,.branddes p,.storylistitem p{font-size: 2rem;line-height: 48px;}
	.brandtitle p{font-size: 3.33rem;}
	.brandmoreinfo a,.brandinfodes p,.brandpre a,.brandnext a{font-size: 2.67rem;}
	.brandmoreinfo a{line-height: 58.7px;}
	.brandinfodes p{line-height: 85.36px;}
}

@media only screen and (min-width: 2160px) {
	.daoyantitile p,.brandtitle p{line-height: 78.75px;}
	.daoyantitile p,.brandinfotitle p{font-size: 4.9rem;}
	.daoyaninfo p,.branddes p,.storylistitem p{font-size: 2.1rem;line-height: 50.625px;}
	.brandtitle p{font-size: 3.5rem;}
	.brandmoreinfo a,.brandinfodes p,.brandpre a,.brandnext a{font-size: 2.8rem;}
	.brandmoreinfo a{line-height: 61.875px;}
	.brandinfodes p{line-height: 90px;}
}
